<!-- movie-card.component.html -->

<app-navigation></app-navigation>
<div class="movie-grid">
  <mat-card *ngFor="let movie of movies">
    <!-- Make the image clickable for movie details -->
    <img
      mat-card-image
      [src]="movie.ImagePath"
      [alt]="movie.Title"
      (click)="openSynopsisDialog(movie)"
      style="cursor: pointer"
    />

    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.name }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genres[0])"
      >
        Genre
      </button>

      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director)"
      >
        Director
      </button>

      <button mat-button color="primary" (click)="openSynopsisDialog(movie)">
        Synopsis
      </button>

      <button
        mat-icon-button
        [color]="isFavorite(movie._id) ? 'warn' : ''"
        (click)="toggleFavorite(movie._id)"
      >
        <mat-icon>{{
          isFavorite(movie._id) ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
